PORT=3005
NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/communication_db

RABBIT_URL=amqp://localhost:5672
RABBIT_EXCHANGE=communication.exchange

# FCM / Firebase Admin credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# SMTP Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="No Reply <noreply@example.com>"

# Retry Configuration
RETRY_MAX_COUNT=3
RETRY_DELAY_MS=5000

# Security
JWT_SECRET=supersecretjwtkey123!
LOG_LEVEL=info
