PORT=3003
NODE_ENV=development
CORS_ORIGIN=*
DATABASE_URL=postgres://postgres:postgres@localhost:5432/redemption_db
REDIS_HOST=localhost
RABBIT_URL=amqp://localhost:5672
JWT_ACCESS_SECRET=default_access_secret_123_abc
